@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

:root {
  font-family: var(--font-dm-sans);
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
a:hover {
  color: #2c282d;
}

h1 {
  font-size: 1.5rem;
  line-height: 150%;
}

h2 {
  font-size: 1.125rem;
  line-height: 150%;
}

p {
  font-size: 1rem;
  line-height: 150%;
}

@theme {
  --breakpoint-sm: 31rem;
  --breakpoint-lg: 58rem;
  --font-dm-sans: "DM Sans", sans-serif;
  --color-theme-secondary: #f0e9e0;
}
